<html>
    <head>
        <title>After School Classes</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel = "stylesheet" type = "text/css" href = "css/style.css" />
        <script src="classes.js"></script>
    </head>

    <body>
        <div id="app">
            <ul class="navbar">
                <li style="float:left"><h1>{{sitename}}</h1></li>
                  <li>
                    <button v-if='showCheckoutButton()' @click='showCheckout'></span>{{navButtonName}}</button>
                    <button disabled ='disabled' style='display:none' v-else></button> 
                </li>
                <!-- Dropdown Menu -->
                <li class="dropdown" style='float:left'>
                    <a href="javascript:void(0)" class="dropbtn">Sort Classes</a>
                    <div class="dropdown-content">
                        <!-- Sorting options in dropdown Menu -->
                        <button id="priceAscending" @click="sort('priceAscending')">Price Ascending</button>
                        <button id="scoreDescending" @click="sort('priceDescending')">Price Descending</button>
                        <button id="subjectAscending" @click="sort('subjectAscending')">Subject Ascending</button>
                        <button id="subjectDescending" @click="sort('subjectDescending')">Subject Descending</button>
                        <button id="locationAscending" @click="sort('locationAscending')">Location Ascending</button>
                        <button id="locationDescending" @click="sort('locationDescending')">Location Descending</button>
                        <button id="availabilityAscending" @click="sort('availabilityAscending')">Availability Ascending</button>
                        <button id="availabilityDescending" @click="sort('availabilityDescending')">Availability Descending</button>
                    </div>
                  </li>
            </ul>
            <main>
                <div v-if='showClasses'>
                    <h1 id="classesPageTitle">Classes</h1>
                    <!-- V-For to show classes -->
                    <div v-for="afterSchoolClass in items" class="card">
                        <h2 v-text ="afterSchoolClass.subject"></h2>
                        <figure>
                            <img v-bind:src="afterSchoolClass.image">
                        </figure>
                        <p>Location: {{afterSchoolClass.location}}</p>
                        <p>Price: £{{afterSchoolClass.price}}</p>
                        <p>Description: {{afterSchoolClass.description}}</p>
                        <p>Maximum Class Size: {{afterSchoolClass.maximumSpaces}} People</p>
                        
                        <!-- v-if to check how many classes with the particular id are in the shopping 
                        cart against what are available in the inventory of that particular afterSchoolClass-->
                        <h3 v-if="afterSchoolClass.availableSpaces === cartCount(afterSchoolClass.id)" style='color:#e61010'>
                            Fully Booked!
                        </h3>
                        <h3 v-else-if="afterSchoolClass.availableSpaces - cartCount(afterSchoolClass.id) < 4" style='color:#d96609'>
                            Only {{afterSchoolClass.availableSpaces - cartCount(afterSchoolClass.id)}} Places Left!
                        </h3>
                        <!-- Displaying that there are free class spaces to be booked -->
                        <h3 v-else style='color: #329e08'>Places Available!</h3>
                    <!-- The button will display when 'Add to Cart is True -->                        
                    <!--When we click the Add To Cart are now passing the afterSchoolClass and its ID to the function as parameters-->
                    <button @click='addToCart(afterSchoolClass)' v-if='canAddToCart(afterSchoolClass)'> Add to Cart </button>
                        <!-- This button will be disabled otherwise -->
                    <button disabled='disabled' style='display:none' v-else>Add to Cart</button>                  
                </div>
                </div>
            <!-- Checkout form -->
            <div v-else id="checkoutForm">
                <form class="modal-content animate">
                <div class="checkout-container">
                <h2>Checkout</h2>
                <p>
                    <strong>First Name:</strong>
                    <!-- This input field is bound to 'firstName' in the 'order' object -->
                    <input v-model.trim="order.firstName" type="text"/>
                </p>
                <p>
                    <strong>Last Name:</strong>
                    <!-- This input field is bound to 'lastName' in the 'order' object -->
                    <input v-model.trim="order.lastName" type="text"/>
                </p>
                <p>
                    <!-- This input field is bound to 'Address' in the 'order' object -->
                    <strong>Address:</strong> <input v-model='order.address' />
                </p>
                <p>
                    <!-- This input field is bound to 'City' in the 'order' object -->
                    <strong>City:</strong><input v-model ='order.city'/>
                </p>
                <p>
                    <!-- This input field is bound to 'City' in the 'order' object -->
                    <strong>Phone Number:</strong><input v-model ='order.phone' type="number"/> 
                </p>
                <!-- This input field is bound to 'Is Gift' in the 'order' object -->
                <label for="gift"> Ship as Gift?</label>
                <input type="checkbox" id="gift" value ="true" v-model="order.gift"
                v-bind:true-value="order.sendGift"
                v-bind:false-value="order.dontSendGift"> </br>  
                <label for="gift"> Shipping Destination</label>         
                <input type="radio" id="home" value="Home" v-model="order.method">
                <label for="home">Home</label>             
                <input type ="radio" id="business" value="Business" v-model="order.method">
                <label for="business">Business</label>
            
                <!-- Displaying order Information -->
                <h2>Order Information</h2>
                <p>First Name:{{order.firstName}}</p>
                <p>Last Name: {{order.lastName}}</p>
                <p>Address: {{order.address}}</p>
                <p>City: {{order.city}}</p> 
                <p>Phone Number: {{order.phone}}</p> 
                <p>Gift: {{order.gift}}</p>
                <p>Method: {{order.method}}</p>
                
                <!-- Displaying the Checkout Buttton Only when the First Name, Last Name and Phone Inputs are filled -->
                <button @click="submitForm()" v-if="checkForm(order.firstName, order.lastName, order.phone)" class="submit-checkout-btn">Place Order</button>
                <button disabled ='disabled' style='display:none' v-else>Place Order</button> 
            </form>
            </div>
            </div>
            <!-- Div for Cart Items -->
            <div id="cartItemsDiv">
            </div>
            </main>
        </div>
    </body>
    <script src="store.js"></script>
    <script>
        // Attempt at removing item
        function removeItem(afterSchoolClass, cart){
            console.log(cart)
            // cart.splice(afterSchoolClass.id, 1);
        }
    </script>
</html>
